@import "../../style/variables.scss";

.project {
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 17px 12px 17px;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: $color-latte;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    span {
      opacity: 0.6;
      text-transform: uppercase;
      flex: 1;
      font-size: 13px;

      &:first-child {
        flex: 0.8;
      }
      &:nth-child(2) {
        flex: 2.6;
      }
      &:nth-child(3) {
        flex: 0.8;
      }
      &:nth-child(4),
      &:nth-child(5) {
        flex: 0.9;
        text-align: right;
        padding: 0 15px 0 0;
      }
      &:nth-child(6) {
        padding: 0 0 0 15px;
      }
      &:nth-child(7) {
        flex: 0.9;
        margin-left: 15px;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  &__list {
    &__item {
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      padding: 14px 14px 15px 17px;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background: $color-latte;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      & > span {
        flex: 1;
        font-size: 15px;

        &:first-child {
          flex: 0.8;
        }
        &:nth-child(2) {
          flex: 2.6;
        }
        &:nth-child(3) {
          flex: 0.8;
        }
        &:nth-child(4),
        &:nth-child(5) {
          flex: 0.9;
          text-align: right;
          padding: 0 15px 0 0;
        }
        &:nth-child(6) {
          padding: 0 0 0 15px;
        }
        &:nth-child(7) {
          flex: 0.9;
          margin-left: 15px;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

.new {
  height: 28px;
  padding: 4px 13px;
  color: $color-white;
  background: $color-direction;
  display: inline-block;
}

.closed {
  height: 28px;
  padding: 4px 9px;
  color: $color-white;
  background: $color-ambition;
  display: inline-block;
}

.img {
  height: 21px;
  display: inline-block;
}

.btn__list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 31px;
  gap: 15px;
  button {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border-radius: 8px;

    &.active {
      background: $color-ambition;
      color: $color-white;
    }
  }
}
