@import "../../style/variables.scss";

.active {
  position: relative;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-ambition;
  }
}
